<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= content_for?(:title) ? yield(:title) : "Social Courses" %></title>
        <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Social Courses" %>">
        <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1> Social Courses </h1>

                    <p> Courses are meant to be taken with your friends. </p>
                    <%= yield %>
                </div>
            </div>
        </div>
  </body>
</html>
