<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= content_for?(:title) ? yield(:title) : "Social Courses" %></title>
        <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Social Courses" %>">
        <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="bgSizeCover"></div>
        <div class="container">
            <div class="row">
                <% if current_user %>
                    <div class="col-md-8">
                        <h1> Social Courses </h1>
                    </div>
                    <div class="col-md-4">

                        <img class="img-circle" src="<%= @picture %>" />
                        <%= link_to 'Sign Out', signout_path, id: 'sign_out' %>
                        You are signed in as <%= current_user.name %>.<br />
                    </div>
                <% else %>
                    <div class="col-md-12">
                        <h1> Social Courses </h1>
                        <p> Courses are meant to be taken with your friends. </p>
                    </div>
                <% end %>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <%= yield %>
                </div>
            </div>
        </div>
    </body>
</html>
